<div class="container-fluid" id="login">
	<div class="container animated fadeInDown" id="login-box">
		<div class="row" id="login-logo">
			<img class="img-responsive" src="images/luxe_logo.png">
		</div>
		<div class="row" id="login-form">
			<div class="col-md-6 col-md-offset-3">
				<form class="form-horizontal" 
					  ng-submit="loginController.login(
								 loginController.login.email, 
								 loginController.login.password)">
					<div class="form-group">
						<label for="emailInput">Email Address</label>
						<input type="email" 
							   class="form-control" 
							   id="emailInput"
							   placeholder="Your email address"
							   ng-model="loginController.login.email">
					</div>
					<div class="form-group">
						<label for="passwordInput">Password</label>
						<input type="password"
							   class="form-control"
							   id="passwordInput"
							   placeholder="Password"
							   ng-model="loginController.login.password">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Sign In</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>