$navbar-height: 80px;

$brand-primary: #B28754;
$brand-success: #55E5C4;
$brand-info: #87B9BC;
$brand-warning: #E5C255;
$brand-danger: #4C4A42;

$navbar-default-bg: $brand-primary;

$font-family-sans-serif: 'Raleway', Helvetica, Arial, sans-serif;